*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    
}
main{
    background-color: #E1E6FA;
    color: #183152;
}

#resultados {
    padding-top: 105px;
    padding-bottom: 25px;
    background-color: #fff;
    margin-top: 30px;
    
}

#resultados img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid cadetblue;
    background-color: #fff;
    margin: 10px;

}

#resultados article {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    margin-bottom: 0;
    
  
}
#resultados h1{
    margin-bottom: 15px;
    font-size: 2em;
    color: cadetblue;
    border-bottom: 5px solid cadetblue;
    width: 100%;
    text-align: left;
    padding-right: 40px
    
}
#texto_resultados{
    width: auto;
    mari: 20px;
    margin-left: 20px; 
}
#texto_resultados ul li{
    margin-top: 10px;
    text-align: justify;
    width: auto;
    margin-left: 20px
}
#texto_resultados  li:last-child{
 margin-bottom: 13px;
    
}

#mapa-street {
    margin-top: 25px;
   padding-left: 70px;
    padding-right: 70px;
   
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

iframe {
    border: 2px;
    border-style:solid;
    border-color: cadetblue;
    margin-top: 15px;
    width: 500px; 
    height: 350px;
    margin: 15px;
}

#mapa-street h4 {
    font-size: 2em;
    color: cadetblue;
    border-bottom: 5px solid cadetblue;
    margin-bottom: 15px;
    text-align: left;
}
.solicitar-turno{

text-decoration: none;
padding: 10px;
background-color: #183152;
color: white;

margin-left: 20px;

}

footer {
    width: 100%;
}

@media(max-width:600px) {
    #mapa-street{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:350px) {
    iframe{
        width: 250px;
        height: 300px;
    }
}   