*{
    box-sizing: border-box;
}

#contenido{
   
    height: 800px;
    width: 80%;
        margin: 150px auto;
}
.form-confirmacion{
    width: 70%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    margin-top: 50px;
    height: 500px;
    border-radius: 30px;
    border: solid 1px black;
    
}
.cabecera{
border-bottom: solid 1px black;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    
}
.input-obra{
    width: 50%
}
.btn-confirmar{
     width: 50%;
     margin-top: 50px;
}