#contacto {
    margin-top: 110px;
    margin-bottom: 250px;
}

#contacto form {
    width: 500px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px; 
}

#contacto input, #contacto textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;   
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;  
}

#boton {
     text-decoration: none;
     background: cadetblue;
    color: #fff;
    padding: 12px;
    width: 100%;
    font-family: 'montserrat', sans-serif;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
    height: 50px
}

#boton:hover {
    cursor: pointer;
    background-color: #458f91
}

#contacto h1 {
    margin-bottom: 20px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: cadetblue;
    font-size: 40px;
}

#contacto h3 {
    text-align: center;
    color: #183152;
    margin-bottom: 40px;
    font-size: 20px;
}

@media (max-width:480px) {
    #contacto form {
        width: 100%;
    }
}

footer {
    margin-bottom: 0;
}

@media(max-width:1024px) {
    
    #contacto {
        margin-top: 120px;
    }
    
}
