*{
    
}

.formulario-rango{
    color: #183152; 
    width: 40%;
    padding: 20px;
    border: 2px solid  cadetblue;
    min-width: 200px;
    height: 350px;
    margin: auto;
    
    
}
.formulario-dia{
    color: #183152;
    width: 40%; 
    
    padding: 20px;
    border: 2px solid cadetblue;
    margin: 20px auto;
    height: 250px;
     min-width: 200px;

}
.fecha-inp{
    margin-top: 10px;
}


#titulo{
height: 50px;
    min-width: 100px;

}
#contenido{
    
    
}
#descripcion{
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border:solid 2px cadetblue;
    color:cadetblue;
    margin-bottom: 20px;

}

.opciones a{
    text-decoration: none;
    color: #183152;
    text-decoration: underline;

}
.opciones{
    width: 38%;
    margin: auto; 
    
}
 