@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
margin: 0;
box-sizing: border-box; 
padding: 0;    
}

#body_noticias{
    background-color:white;
    font-family:  'Montserrat', sans-serif;
}
#contenedor
{
    
background-color: white;
width: 100%;
margin: auto;
height: 100%;
justify-content: center;
margin-top: 100px;
}

#contenedor_noticias{  
padding: 15px;
display: flex;
flex-wrap: wrap;
width: 90%;
margin: auto;
text-align: center;
}

article{
margin: 18px;
display: inline-block;
width: 30%;
min-width: 200px;
vertical-align: top;
text-align: left;    
  
}

#contenedor_noticias img {
width: 100%;
max-width: 230px;
text-align: center;
}
.leer_mas{
    margin-top: 5px;
padding: 10px;
text-decoration: none;
color: cadetblue; 

}

.leer_mas:hover {
text-decoration: underline;
}

#titulo h1 {
font-size: 30px;
text-align: center;
color: cadetblue; 
margin-bottom: 15px
}

#titulo h2{
text-align: center;
margin-bottom: 15px;
    color: #183152;
    font-size: 25px;
    
}
#titulo{
background-color: #E1E6FA;
padding-top: 20px;
padding-bottom: 10px;
border-bottom: 0px solid cadetblue;
}
article h4{
    margin-top: 10px;

 margin-bottom: 10px;
}
.titulo_link{
    font-size: 25px;
    text-decoration: none;
    color:#183152;  
}

.titulo_link:hover {
    text-decoration: underline;
}

.fecha{
    font-size: 18px;
    color: black;
}

@media(max-width:1024px) {
    
    #contenedor {
        margin-top: 70px;
    }
    
}