@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(menu.css);
@import url(encabezado.css);
@import url(banner.css);
@import url(superslides.css);
@import url(contacto.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;     
}

header {
    width: 100%;
    height: 100px;
    background-color:#183152;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    
}

#barramenu {
    background-color: #183152;
    padding-top: 10px;
    
}

#logo {
   width: 125px;
    height: 50px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 0;
    position: absolute;
  
}

#banner{
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
    position: absolute;
    
}

header h1 {
    font-size: 4em;
    position: relative;
    margin-left: 370px;
    margin-top: 15px;
    display: none;
}

.contenedor {
    width: 100%;
    margin: auto;
}

#textologo {
    float: left;
    text-decoration: none;
    color: #fff;
}

footer {
    background: #183152;
   margin: auto;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.copy {
    font-size: 18px;
    color: #fff;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.sociales a {
    color: #fff;
    text-decoration: none;
}

@media (min-width:768px) {
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
    
}

#excelencia {
    z-index: 90;
    padding: 15px; 
    
}

#excelencia a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    border: 1px solid black;
    background: #183152;
    float: right;
}

#equipo_m {
    padding-top: 100px;
    position: relative;
    background-image: url(/img/equipo_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px; 
    opacity: 

    
}


#mapas {
    position: relative;
    background-image: url(/img/MAPS.jpg);
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
   
}

#mapa_collage {
    width: 100%;
    opacity: 0.6;
}

#mapas_texto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #183152;
}

#mapas_texto img {
    width: 20%;
    height: 20%;
    margin-top: 8%;
}

#logo_ubicacion {
    margin-right: 5%;
}
#unete{
    position: relative;
    height: 800px;
    background-image: url(/img/unete.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#contenedor_unete{
    position: absolute;
   top: 50%;
   width: 50%;
   left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center; 
    background: rgba(0,0,0, 0.1);
     padding: 60px;
    border-radius: 30px;
    min-width: 350px;
    color: #183152;
    font-size: 20px;
    
}
#contenedor_unete h1{
    margin-bottom: 30px;
}

#contenedor_unete a{
    text-decoration: none;
    background:cadetblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    
    
}

@media (min-width:1024px) {
    
    header .contenedor, footer .contenedor {
       max-width: 1200px;
    }
}

@media (max-width:1024px) {
    header{
        height: 70px;
    }
    
    #barramenu {
        height: 70px;
        padding: 0;
    }
    
    #logo {
        width: 100px;
        height: 42px;
    }
    
     @media (max-width:1024px) {
        #principal {
           margin-top: 70px;
        }
         
         .menu ul {
            top: 70px;  
         } 
    }
    
}