.contenido_tabla{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    overflow-y: scroll;
    height: 550px
}
.sacar-color{
    text-decoration: none;
    
    text-align: center;
    background-color: firebrick; 
    color: white;
    border-radius: 10px;
    vertical-align: middle;
}
.asistio{
    width: 100%;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    background-color: forestgreen;  
    color: white;
    border-radius: 10px;
    vertical-align: middle;  
}

.no-asistio{
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: firebrick;
    color: white;
    border-radius: 10px; 
    vertical-align: middle; 
    margin-left: 0px;
}