*{
    font-family: 'montserrat', sans-serif; 
    margin: 0;
}


.principal {
    display: flex;
    background-color: #ecf0f1;
}  

.sidebar {
    margin-top: 100px;
    width: 200px;
    height:100%; /* hacer un calcula del 100% menos el height del footer */
    position: fixed;
    background: #35475e;
    color: #fff;
    outline:  1px solid #35475e;
}

footer {
position: relative;
}

.sidebar ul a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    
}

.sidebar li {
    outline:  1px solid #3c506a;
    transition: all 0.2s; 
    font-size: 12px;  
}

.sidebar li span {
    margin-right: 15px;
    font-size: 20px;
    color: #ABC8E2;
    margin-left: 15px;
}

.sidebar a:hover {
    background: rgba(24, 49, 82, 0.9)
}

.sidebar li:hover {
    border-left: 5px solid #fff
}

#contenido {
    width: 100%;
    min-height: 800px;
    height: 100%;
    margin-left: 220px;
    margin-top: 100px;
    flex-wrap: wrap;
    position: relative;
    padding-right: 10px;
}

#titulo {
    width: 100%;
    padding-top: 11px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid cadetblue;
    color: cadetblue;
    margin-top: 0;
}

#titulo h1 {
    font-size: 24px;
    font-weight: bold;
}

#contenido span {
    color: #609d9f;
}

#contenido ul  {
    list-style: none
}

.datos-personales ul li img {
    width: 15px;
    height: 15px;
    border: none;
    margin: 0;
    margin-right: 10px;
    
}

.datos-personales img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border: solid 2px cadetblue
}


.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 2px #fff;
    border-style: solid;
    margin: 0px;
}

#usuario-sidebar {
    height: 110px;
    text-align: center;
    margin-top: 20px;
}

#nombre-sidebar {
    padding-bottom: 10px;
    text-align: center;
    font-size: 17px;
} 

.sidebar a {
    text-decoration: none;
    color: #fff;
}


@media(max-width:768px) {
    
    
    .sidebar {
        margin-top: 70px;
        height: auto;
        width: 100%;
        display: none
    }
    
    .sidebar li {
        text-align: center;
    }
    
    .sidebar h1 {
        text-align: center;
    }
    
    #contenido {
/*        margin-top: 300px;*/
        margin-left: 20px;
        margin-right: 20px;
        
    }
    
    header .menu ul {
        margin-top: 7px
    }
    
    #submenu-usuario {
        margin-top: 0;
    }
    
    header .menu ul ul li {
        margin-top: 0px;
        display: block;
    }
    
    #dropdownMenu1 {
        display: none
    }
    
    #dropdownMenu2 {
        display: none
    }
    
    #item-buscar {
        display: none
    }
}

@media(max-width:650px) {

   
}



.sidebar a:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 
}


/*----------------------  Tabla mis turnos  -----------------------*/

#mis-turnos {
    font-size: 12px;
}

#mis-turnos td {
    text-align: center;
    vertical-align: middle;
}

#mis-turnos th {
    text-align: center;
}

#mis-turnos thead {
    background-color: #d9edf7;
}

#panel-turnos {
   box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 500px;
    overflow: auto;
}


#titulo-mis-turnos {
    padding: 25px;
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)), url("../img/banner-mis-turnos2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





