body{
    padding-top: 150px;
}


#contenido{
    width: 65%;
   height: 800px;
    margin: auto;
    min-width: 300px;

}

#tabla{
    height: 500px;
    overflow: scroll;
}
tbody td{
    height: 50px;
    vertical-align: middle;
}
thead{
    background-color :cadetblue;
    color: white;
}
.ocupado{
    color:red;
}
.disponible{
 color: green;
}
#turnos-dia{
    font-size: 20px;
    color: cadetblue;
    
    
}