@import url(https://fonts.googleapis.com/css?family=Montserrat);
#slides {
margin-top: 0px;
position: relative;
width: 100%;
max-height: 800px;    
}
body
{
font-family:  'Montserrat', sans-serif;
}
#slides .slides-container {
  display: none;
    
   
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width:  40px;
  height: 40px;
  font-size: 38px;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  color:white;
  padding: 0px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
}

.slides-navigation a:hover {
    background: black;

}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
.desc_slider{
background: rgba(0,0,0,0.5);
    color:#fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;

      
}

#slides img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: block;
}